# Finding Alberta
server {
    listen 80;
    listen [::]:80;

    server_name alberta.livingarchives.org;
    root /opt/node/finding-alberta/;

    location ~ /.well-known {
        allow all;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}

# Finding Alberta
server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    charset utf-8;
    
    server_name alberta.livingarchives.org;
    root /opt/node/finding-alberta/;

    ssl_certificate /etc/letsencrypt/live/livingarchives.org/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/livingarchives.org/privkey.pem;

    include ssl-params.nginx;

    location ~ /.well-known {
        allow all;
    }

    location /favicon.ico {
        access_log off;
        log_not_found off;
    }

    location /static {
        alias /opt/node/finding-alberta/static;
    }

    location / {
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_pass http://node:3001;
    }
}

# Statistics database
server {
    listen 80;
    listen [::]:80;

    server_name api.livingarchives.org;
    root /opt/node/statistics-database/;

    location ~ /.well-known {
        allow all;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}

# Statistics database
server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    charset utf-8;
    client_max_body_size 75M;
    
    server_name api.livingarchives.org;
    root /opt/node/statistics-datbase/;

    ssl_certificate /etc/letsencrypt/live/livingarchives.org/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/livingarchives.org/privkey.pem;

    include ssl-params.nginx;

    location ~ /.well-known {
        allow all;
    }

    location /favicon.ico {
        access_log off;
        log_not_found off;
    }

    location / {
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_pass http://node:3000;
    }
}

# Bitter and sweet
server {
    listen 80;
    listen [::]:80;

    server_name bitterandsweet.livingarchives.org;
    root /opt/node/bitter-and-sweet/;

    location ~ /.well-known {
        allow all;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}

# Bitter and Sweet
server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    charset utf-8;
    
    server_name bitterandsweet.livingarchives.org;
    root /opt/node/bitter-and-sweet/;

    ssl_certificate /etc/letsencrypt/live/livingarchives.org/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/livingarchives.org/privkey.pem;

    include ssl-params.nginx;

    location ~ /.well-known {
        allow all;
    }

    location /favicon.ico {
        access_log off;
        log_not_found off;
    }

    location /static {
        alias /opt/node/bitter-and-sweet/static;
    }

    location / {
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_pass http://node:3002;
    }
}

# Skybox
server {
    listen 80;
    listen [::]:80;

    server_name skybox.livingarchives.org;
    root /opt/sites/skybox.livingarchives.org/;

    location ~ /.well-known {
        allow all;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}

# Skybox
server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    charset utf-8;

    server_name skybox.livingarchives.org;
    root /opt/sites/skybox.livingarchives.org/;
    index index.html;

    ssl_certificate /etc/letsencrypt/live/livingarchives.org/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/livingarchives.org/privkey.pem;

    include ssl-params.nginx;

    location ~ /.well-known {
        allow all;
    }

    location /favicon.ico {
        access_log off;
        log_not_found off;
    }

    location / {
        try_files $uri $uri/ =404;
    }
}

# AffeXity
server {
    listen 80;
    listen [::]:80;

    server_name affexity.livingarchives.org;
    root /opt/sites/affexity.livingarchives.org/;

    location ~ /.well-known {
        allow all;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}

# AffeXity
server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    charset utf-8;

    server_name affexity.livingarchives.org;
    root /opt/sites/affexity.livingarchives.org/;
    index index.html;

    ssl_certificate /etc/letsencrypt/live/livingarchives.org/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/livingarchives.org/privkey.pem;

    include ssl-params.nginx;

    location ~ /.well-known {
        allow all;
    }

    location /favicon.ico {
        access_log off;
        log_not_found off;
    }

    location / {
        try_files $uri $uri/ =404;
    }
}

# Somatic Archiving
server {
    listen 80;
    listen [::]:80;

    server_name somatic.livingarchives.org;
    root /opt/sites/somatic.livingarchives.org/;

    location ~ /.well-known {
        allow all;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}

# Somatic Archiving
server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    charset utf-8;

    server_name somatic.livingarchives.org;
    root /opt/sites/somatic.livingarchives.org/;
    index index.html;

    ssl_certificate /etc/letsencrypt/live/livingarchives.org/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/livingarchives.org/privkey.pem;

    include ssl-params.nginx;

    location ~ /.well-known {
        allow all;
    }

    location /favicon.ico {
        access_log off;
        log_not_found off;
    }

    location / {
        try_files $uri $uri/ =404;
    }
}

# Front page
server {
    listen 80;
    listen [::]:80;

    server_name livingarchives.org www.livingarchives.org;
    root /opt/sites/livingarchives.org/;

    location ~ /.well-known {
        allow all;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}

# Front page
server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    charset utf-8;

    server_name livingarchives.org www.livingarchives.org;
    root /opt/sites/livingarchives.org/;
    index index.html;

    ssl_certificate /etc/letsencrypt/live/livingarchives.org/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/livingarchives.org/privkey.pem;

    include ssl-params.nginx;

    location ~ /.well-known {
        allow all;
    }

    location /favicon.ico {
        access_log off;
        log_not_found off;
    }

    location / {
        try_files $uri $uri/ =404;
    }
}
